@import "../../../scss/vars.scss";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 500px) {
    align-items: flex-start;
  }

  .title {
    font-family: $fontFamilyInter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    @media (max-width: 500px) {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .socials {
    width: 77px;
    display: flex;
    justify-content: space-between;
  }

  .text {
    font-family: $fontFamilyInter;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: right;
    @media (max-width: 500px) {
      margin-top: 10px;
      margin-bottom: 12px;
    }
  }
}
