@import "../../../scss/vars.scss";

.box {
  width: 49%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  @media (max-width: 375px) {
    display: none;
  }
}

.box_mobile {
  display: none;
  @media (max-width: 375px) {
    display: flex;
    flex-wrap: wrap;
  }

  .text_mobile {
    flex-basis: 41%;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    @media (max-width: 320px) {
      flex-basis: 47%;
    }

    .span_mobile {
      margin-left: 5px;
    }
  }
}
